# urls.txt - 下厨房菜谱链接列表
# 每行一个链接，以 # 开头视为注释
# 这个文件是示例，实际使用请填你自己的链接

https://www.xiachufang.com/recipe/104133214/
https://www.xiachufang.com/recipe/106679017/
https://www.xiachufang.com/recipe/106963831/
